.header {
  color: #A93226;
  font-size: 30px;
  text-align: center;
}

body {
  background-color: #F08080;
  font-family: arial;
}

img {
  width: 400px;
  max-height: 400px;
}

.column p {
  font-weight: bold;
  font-size: 40px;
}

.column {
  width: 500px;
  border: 15px solid #E67E22;
  margin-top: 3%;
  margin-bottom: 7%;
  margin-left: 28%;
  padding-top: 4px;
  text-align: center;
}

.contactinfo {
  text-align: center;
  padding-top: 30px;
  color: #E74C3C;
  clear: both;
}

.contactinfo h3 {
  text-decoration: underline;
  font-weight: bold;
}

.sidebar {
  text-align: right;
  font-size: 20px;
}
