.header {
  color: #A93226;
  font-size: 30px;
  text-align: center;
}

body {
  background-color: #F08080;
  font-family: arial;
}

img {
  width: 400px;
  max-height: 400px;
}

.information {
  border: 15px solid #E67E22;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 4px;
  text-align: center;
}

.information li {
  font-weight: bold;
  font-size: 40px;
}

ul {
  list-style: none;
}

.contactinfo {
  text-align: center;
  padding-top: 30px;
  color: #E74C3C;
}

.contactinfo h3 {
  text-decoration: underline;
}

.sidebar {
  text-align: right;
  padding-bottom: 30px;
  font-size: 20px;
}
